@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body{
    overflow-x: hidden;
}

header{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 200px;
    .logo{
        img{
            width: 10rem;
        }
    }
}

section{
    padding: 100px 200px;
    &.home{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #e53c37;
        video{
            z-index: 000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.video-slide{
                position: absolute;
                width: 100%;
                clip-path: circle(0% at 0 50%);
                &.active{
                    clip-path: circle(150% at 0 50%);
                    transition: 2s ease;
                    transition-property: clip-path;
                }
            }
        }
        .content{
            z-index: 888;
            color: #fff;
            width: 70%;
            margin-top: 50px;
            display: none;
            &.active{
                display: block;
            }
            h1{
                font-size: 4em;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 5px;
                line-height: 75px;
                margin-bottom: 40px;
                span{
                    font-size: 1.2em;
                    font-weight: 600;
                    color: #fff;
                }
            }
            p{
                margin-bottom: 65px;
            }
        }
        .media-icons{
            z-index: 888;
            position: absolute;
            right: 30px;
            display: flex;
            flex-direction: column;
            transition: 0.5s ease;
            a{
                color: #fff;
                font-size: 1.6em;
                transition: 0.3s ease;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        .slider-navigation{
            position: relative;
            z-index: 888;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(80px);
            margin-bottom: 12px;
            .nav-btn{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
                box-shadow: 0 0 2px rgba($color: #fff, $alpha: 0.5);
                transition: 0.3s ease;
                &.active{
                    background: #e53c37;
                }
                &:not(:last-child){
                    margin-right: 20px;
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        &::before{
            z-index: 777;
            content: '';
            position: absolute;
            background: rgba(229, 60, 55, 0.25);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

        }
    }
}

@media (max-width: 1040px) {
    header{
        padding: 15px 20px;
    }
    section{
        padding: 100px 20px;
        &.home{
            .content{
                h1{
                    font-size: 2em;
                    line-height: 30px;
                }
                p{
                    margin-bottom: unset;
                }
            }
            .media-icons{
                right: 15px;
            }
        }
    }
}